<%= render :partial => 'shared/logout' %>

<h2 class="secret_header">Secret Index Page</h2>

<div class="top_secret">
	<p><strong><%= link_to @secret.title, @secret %></strong></p>
	<p><%= image_tag @secret.attachment.url(:large) %></p>
</div>

