<%= render :partial => 'shared/logout' %>

<h2>Secret Index Page</h2>
<% @secrets.each do |secret| %>
	<p><strong><%= link_to secret.title, secret %></strong></p>
	<p><%= secret.content %></p><br>
<% end %>

<%= link_to "Create a new secret", new_secret_path %>